<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="ChatSummaryBot" />
    <springProperty scope="context" name="lokiUrl" source="logging.loki.url" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}</url>
        </http>
        <format>
            <label>
                <pattern>app=${appName},host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>l=%level c=%logger{20} t=%thread | %msg %ex</pattern>
            </message>
            <sortByTimestamp>true</sortByTimestamp>
        </format>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <if condition='p("lokiUrl") != null &amp;&amp; !p("lokiUrl").isEmpty()'>
            <then>
                <appender-ref ref="LOKI" />
            </then>
        </if>
    </root>

    <logger name="com.chatsummary" level="DEBUG" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.mongodb" level="INFO" />
    <logger name="org.telegram" level="INFO" />
</configuration>
