<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="ChatSummaryBot" />
    <springProperty scope="context" name="lokiUrl" source="logging.loki.url" />
    <springProperty scope="context" name="lokiUsername" source="logging.loki.username" />
    <springProperty scope="context" name="lokiPassword" source="logging.loki.password" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <if condition='p("lokiUrl") != null &amp;&amp; !p("lokiUrl").isEmpty()'>
        <then>
            <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
                <http>
                    <url>${lokiUrl}</url>
                    <auth>
                        <username>${lokiUsername}</username>
                        <password>${lokiPassword}</password>
                    </auth>
                </http>
                <format>
                    <label>
                        <pattern>app=${appName},host=${HOSTNAME},level=%level</pattern>
                    </label>
                    <message>
                        <pattern>l=%level c=%logger{20} t=%thread | %msg %ex</pattern>
                    </message>
                </format>
            </appender>

            <root level="DEBUG">
                <appender-ref ref="CONSOLE" />
                <appender-ref ref="LOKI" />
            </root>
        </then>
        <else>
            <root level="DEBUG">
                <appender-ref ref="CONSOLE" />
            </root>
        </else>
    </if>

    <logger name="com.chatsummary" level="DEBUG" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.mongodb" level="INFO" />
    <logger name="org.telegram" level="INFO" />
</configuration>
